*{
    margin:0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    box-sizing: border-box;
        font-family: 'DM sans', 'sans-serif';

}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color:wheat;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;

}

main{
    width: 100%;
    height: 100%;
}
.section-image-container{
    width: 100%;
    height: 500px;
     margin-bottom: 50px;

}

.image-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.image-container img{
    width: 100%;
    height: 100%;
}
.main-article--container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.article--subtitle{
    text-align: left;
    font-size: 1.1rem;
    margin-bottom: 40px;
    
}
.detail-article--container{
    border-top: 1px solid #1A2A4F;
}
.detail-article--container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.detail-article--container p{
    text-align: justify;
    padding: 10px;
}
.main-contact-container{
    width: 100%;
    background-color: #d1cece;
    height: 300px;
    display: flex;
    align-items: center;
}
.section-contact{
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.section-contact span{
    background-image: url('');
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 50%;
    margin-left: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-contact .contactus-container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end:4 ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.section-write {
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.section-contact p{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 100%;
    width: 100%;
}
.section-write span{
    background-image: url('https://i.pinimg.com/736x/f8/e8/d8/f8e8d8650bd3fd8682c1ae107edc3111.jpg');
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 50%;
    margin-left: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-write .writeus-container{
     grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end:4 ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.section-write p{
grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 100%;
    width: 100%;
}
footer{
    width: 100%;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.green{
    height: 30px;
    background-color: #47cfac;
}
.text-footer{
    height: 60px;
    background-color: #1A2A4F;
    color: wheat;
}
.text-footer h3{
    margin-top: 20px;
    height: 50%;
    
}

