@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    padding: 0;
    margin: 0;
    position :fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color:wheat;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;

}

main{
    width: 100%;
    height: 100%;

}

.main-image-container{
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: grid;
    grid-template-columns: 7fr ;
    grid-template-rows: 1fr 4fr 1fr;
    }
.main-info-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding:4px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-info-container h1{
    margin-top: 120px;
    color: whitesmoke;
    font-size: 2.8rem;
    letter-spacing: 10px;
  font-family: "Roboto Mono", monospace;
}
.main-info-container button{
    height: 40px;
    width: 120px;
    margin-top: 45px;
    font-weight: 700;
    font-size: 18px;
    background-color: wheat;
    border-radius: 3px;
    border: 1px whitesmoke;
    box-shadow: 5px solid black;
}
@media (max-width: 768px){
    header{
        height: auto;
        grid-template-rows: auto auto;
    }
    header .header-icons-container{
        height: auto;
        padding: 10px 0;
    }
    header .header-icons-container .icnos{
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
    nav{grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        text-align: center;
    }

    nav .nav-logo-container {
        margin: 10px auto;
    }

    nav .profile-link {
        justify-content: center;
        margin: 10px 0;
    }

    .main-info-container {
        width: 90%;
    }

    .main-info-container h1 {
        font-size: 2rem;
        letter-spacing: 5px;
        margin-top: 60px;
    }

    .main-info-container button {
        width: 100px;
        height: 35px;
        font-size: 16px;
    }
}
@media (max-width: 320px){
     header .header-icons-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: grid;
        grid-template-rows: 1fr 
    }

    nav .nav-logo-container img {
        width: 180px;
    }

    .main-info-container h1 {
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin-top: 40px;
    }

    .main-info-container button {
        width: 90px;
        height: 30px;
        font-size: 14px;
        margin-top: 30px;
    }

}