*{
    margin:0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    box-sizing: border-box;
        font-family: 'DM sans', 'sans-serif';

}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color:wheat;
}
.icons a{
    text-decoration: none;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}
main{
    width: 100%;
    height: 100%;
}
.presentation-container{
    width: 100%;
    height: 380px;
    background-color: lightgray;
   
}
.presentation-info{
    width: 70%;
    height: 100%;
    margin: 0 auto;
     display: flex;
    flex-direction: row;
}
.presentation-profilephoto--container{
    width: 900px;
    height: 100%;
    align-items: center;
    justify-items: center;
}
.presentation-profilephoto--container .profilephoto{
    margin-top: 40px;
    background-image: url('/assets/img/pimguino.jfif');
    width: 300px;
    height: 300px;
    
}
.presentation-info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.presentation-info--container h2{
    padding-bottom: 20px;
    font-size: 1.8rem;
}
.presentation-info--container p{
    font-weight: 500;
    line-height: 25px;
}
.presentation-info--container p::first-letter{
    font-size: 40px;
}
.project-title--container{
    width: 40%;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-info--container{
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    border-top: 1px solid #47cfac;
    margin-bottom: 50px;
}

.project-informatiom{
    margin-top: 40px;
    padding: 20px;
    text-align: justify;
}
.main-contact-container{
    width: 100%;
    background-color: #d1cece;
    height: 300px;
    display: flex;
    align-items: center;
}
.section-contact{
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.section-contact span{
    background-image: url('/assets/img/email.png');
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 107px;
    width: 70%;
margin-left: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-contact .contactus-container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end:4 ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.contactus-container a{
    text-decoration: underline;
    color: black;
}
.section-write {
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}
.section-contact p{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}
.section-write span{
    background-image: url('/assets/img/support.png');
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width:80%;
    margin-left: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-write .writeus-container{
     grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end:4 ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.writeus-container a{
    text-decoration: underline;
    color: black;
}
.section-write p{
grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 100%;
    width: 100%;
margin-top: 30px;
}
footer{
    width: 100%;
    height: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
.green{
    height: 30px;
    background-color: #47cfac;
}
.text-footer{
    height: 60px;
    background-color: #1A2A4F;
    color: wheat;
}
.text-footer h3{
    margin-top: 20px;
    height: 50%;
    
}

@media (max-width:320px){
    * {
        box-sizing: border-box;
        max-width: 100%;
    }
    
    body {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }
    
    header {
        height: auto;
        grid-template-rows: auto auto;
        min-height: 120px;
    }
    
    header .header-icons-container {
        height: auto;
        padding: 5px 0;
        min-height: 40px;
    }
    
    header .header-icons-container .icons {
        width: 100%;
        margin-right: 0;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 3px;
        font-size: 0.75rem;
    }
    
    nav {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: auto;
        text-align: center;
        padding: 8px 0;
        min-height: 80px;
    }
    
    nav .nav-logo-container {
        margin: 8px auto;
        padding: 0 5px;
    }
    
    nav .nav-logo-container img {
        width: 130px;
        margin-top: 3px;
        height: auto;
    }
    
    nav .profile-link {
        justify-content: center;
        margin: 8px 0;
        padding: 0 5px;
    }
    
    nav .profile-link a {
        font-size: 0.85rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    
    .presentation-container {
        height: auto;
        padding: 20px 0;
        width: 100%;
        overflow: hidden;
    }
    
    .presentation-info {
        width: 95%;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px;
    }
    
    .presentation-profilephoto--container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .presentation-profilephoto--container .profilephoto {
        margin-top: 15px;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
    }
    
    .presentation-info--container {
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0 5px;
    }
    
    .presentation-info--container h2 {
        padding-bottom: 15px;
        font-size: 1.3rem;
        margin: 0;
    }
    
    .presentation-info--container p {
        font-size: 0.85rem;
        line-height: 20px;
        padding: 0 5px;
    }
    
    .presentation-info--container p::first-letter {
        font-size: 25px;
    }
    
    .project-title--container {
        width: 95%;
        height: auto;
        padding: 15px 0;
    }
    
    .project-title--container h2 {
        font-size: 1.4rem;
        padding: 0 10px;
    }
    
    .project-info--container {
        width: 95%;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 0;
        margin-bottom: 30px;
        border-top: 1px solid #47cfac;
    }
    
    .project-informatiom {
        margin-top: 0;
        padding: 15px 10px;
        font-size: 0.85rem;
        line-height: 20px;
    }
    
    .main-contact-container {
        height: auto;
        padding: 25px 0;
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    
    .section-contact, .section-write {
        width: 95%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 15px;
        padding: 15px 0;
        margin: 0 auto;
    }
    
    .section-contact span, .section-write span {
        grid-row: 1;
        grid-column: 1;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background-size: contain;
    }
    
    .section-contact p, .section-write p {
        grid-row: 2;
        grid-column: 1;
        margin: 0;
        text-align: center;
        font-size: 0.85rem;
        padding: 0 8px;
        line-height: 1.3;
    }
    
    .contactus-container, .writeus-container {
        grid-row: 3;
        grid-column: 1;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    
    .section-contact .contactus-container, .section-write .writeus-container {
        grid-row: 4;
        grid-column: 1;
    }
    
    .contactus-container a, .writeus-container a {
        font-size: 0.85rem;
        padding: 2px 0;
    }
    
    footer {
        height: auto;
        position: relative;
        margin-top: 15px;
        width: 100%;
        overflow: hidden;
    }
    
    .green, .text-footer {
        height: 15px;
        width: 100%;
    }
    
    .text-footer {
        height: 45px;
    }
    
    .text-footer h3 {
        margin-top: 8px;
        font-size: 0.7rem;
        padding: 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}